.DS_Store
__pycache__/
*.py[cod]

# generated outputs
processed_data/*_predicted_structure_pdb/
processed_data/*_ProteinMPNN_node_rep/
processed_data/*_ProteinMPNN_output_profile/
pth/pth_RINAMI_trained/
